@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body{
    background:rgb(216, 213, 171);
    font-family: "Arial Narrow", Arial, sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: rgb(253, 30, 30);
}

h2 {
  color: rgb(253, 30, 30);
  font-weight: 100
}

hr {
  width: 100%;
  border: 1px rgb(253, 30, 30) solid;
}

.radioco-playButton-playing:before{
    font-family: 'FontAwesome', sans-serif;
  content: "\f04b";
  margin-left: 20px;
}

.radioco-playButton-paused:before{
    font-family: 'FontAwesome', sans-serif;
  content:"\f04c";
  margin-left: 20px;
}

.radioco-playButton{
  color: rgb(0, 0, 0);
  z-index: 2;
  font-size:50px;
  width: 100%;
}

.radioco-playButton:active{
  color:#ff0000;
}

.radioco-playButton-playing{
  font-family: "controls";
  font-size:5rem;
}

.radioco-playButton-paused{
  font-family: "controls";
  font-size:5rem;
}

.content {
  margin-left: 20px;
  width: 45%;
  margin-bottom: 20px;
  z-index: 1;
}

.background-mushroom img{
  z-index: -1;
  position: fixed;
  width: 50%;
  top: 30;
  left: 20
}