@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body{
    background:#fff;
    color:#111;
    font-family:arial;
}

.radioplayer {
  background: #ffffff;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 109px;
  khtml-user-select: none;
  moz-user-select: none;
  border-bottom: 1px solid;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 100;
  flex-direction: row;
  ms-user-select: none;
  overflow: hidden;
  left: 0;
  user-select: none;
  webkit-touch-callout: none;
  webkit-user-select: none;
  width: 100%;
}

.radioco-playButton-playing:before{
    font-family: 'FontAwesome', sans-serif;
  content: "\f04b";
}

.radioco-playButton-paused:before{
    font-family: 'FontAwesome', sans-serif;
  content:"\f04c";
}

.radioco-playButton{
  color: #000;
  text-align: left;
  z-index: 2;
  font-size:50px;
}

.radioco-playButton:active{
  color:#ff0000;
}

.radioco-playButton-playing{
  font-family: "controls";
  font-size:5rem;
}

.radioco-playButton-paused{
  font-family: "controls";
  font-size:5rem;
}