/* R E S E T */

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 20px;;
	overflow-x: hidden;
	overflow-y: hidden;
	background-image: url("img/mushroom.jpg");
}

/* F O N T S */

@font-face {
	font-family: Frankfurter;
	src: url(fonts/Frankfurter.otf);
}

@font-face {
	font-family: ArialRounded;
	src: url(fonts/ArialRoundedMTLight.otf);
}

@font-face {
	font-family: Schoolbook;
	src: url(fonts/CenturySchoolbookZT.otf);
}

h1, h2 {
	font-family: "Frankfurter";
	margin: 0px 0px 10px 0px;
}

p {
	font-family: "ArialRounded", Arial, Helvetica, sans-serif;
	margin: 0;
}

table {
	border: 1px solid black;
	border-collapse: seperate;
	border-radius: 20px;
	width: 100%;
	border-spacing: 0;
	margin-top: -1px;
}

th {
	text-align: left;
	padding: 10px;
}

tbody {
	display: none;
}

.active {
	display: table;
}

td:not(:last-child) {
	padding: 10px;
	border-bottom: 1px;
}


.module {
	background-color: white;
	border: 1px solid black;
	width: 30vw;
	border-radius: 20px;
	display: block;
	padding: 20px;
}

#player-wrapper {
	display: flex;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	position: absolute;
	z-index: -10;
}

#player {
	width: 25vw;
	text-align: center;
}

audio {
	display: block;
	margin: 10px auto;
}

#top-left {
	float: left;
}

#top-right {
	float: right;
}

#top-right ul {
	padding-left: 0px;
	list-style: none;
}

#bottom-left {
	float: left;
	position: absolute;
	bottom: 20px;
}

#bottom-right {
	right: 20px;
	position: absolute;
	bottom: 20px;
}

#mobile-info {
	display: none;
}