@font-face {
  font-family: "Authentic Sans 90";
  src: url("./fonts/AUTHENTICSans-90.woff") format("woff");
}

* {
  box-sizing: border-box;
  outline: none;
    --colororange: #f5e923;
    --colorlila: #1796bf;
    --colorpurple: #000000;
  padding: 0;
  margin: 0;
  }

.s2{
  width: 50%;
}

.s3{
  width: 33.3332%;
}

/* .c1 .box{
  background: #ff6600;
  color: #6158b2;
}

.c1 h1{
  background: #ff6600;
  color: #6158b2;
} */

body{
  color: var(--colorpurple);
  background: linear-gradient(var(--colorlila) 80%, var(--colororange) 100%);
  font-family: "Authentic Sans 90", sans-serif;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.1em;
  min-height: 50vh;
  background-attachment: fixed;
}

h1{
  color: var(--colororange);
  font-size: 1.8em;
  line-height: 1em;
  margin-bottom: 0.4rem;
}

.row {
  display: block;
}

.col {
  vertical-align: top;
  display:inline-block;
  padding: 8px;
}

.box {
  overflow: hidden;
  border-radius: 25px;
  padding: 10px;
  color: var(--colorlila);
  background-color: var(--colorpurple);
  padding: 16px;
}

a:link {
  color: var(--colorpurple);
}

a:hover, a:active, a:visited {
  color: var(--colororange);
}

.time{
  color: var(--colororange);
}

.top .col {
  background-color: var(--colorlila);
  color: var(--colorpurple);
}

.top .col img {
  width: 100%;
  max-width: 600px;
}

.bottom .col .box {
  height: 620px;
}

ul {list-style:none}

.top_text {
  font-size: 1.1rem;
  line-height: 0rem;
}

audio{
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 150px;
 transform-origin: left;
 transform: scale(200%);
 border-radius: 0;
 
}

audio::-webkit-media-controls-panel {
  background-color: var(--colorpurple);
  padding: 0px;
}
audio::-webkit-media-controls-current-time-display {
  display: none;
}

audio::-webkit-media-controls-timeline {
  display: none;
}

audio::-webkit-media-controls-play-button {
  background-color: var(--colororange);
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: var(--colororange);
}

@media screen and (max-width: 1100px) {
  body{
    padding-left: 8px;
    padding-right: 8px;
  }
  .c1.s3 {
    width: 100%;
  }

  .s3 {
    width: 50%;
  }

  .bottom .col .box {
    height: auto;
  }
}

@media screen and (max-width: 700px) {
  body{
    padding-left: 8px;
    padding-right: 8px;
  }
  .s3 {
    width: 100%;
  }

  .s2 {
    width: 100%;
  }

  .bottom .col .box {
    height: auto;
  }
}